*{
	font-family: Comfortaa;
}

body{
	background-color: rgb(219, 233, 233);
}

#divAnadir{
	display: none;
}

#divModificar{
	display: none;
}

#logo{
	width: 70px;
	height: auto;
}

.logoredes{
	width: 50px;
	height: auto;
	margin: 25px 45px;
}

a:link, a:visited, a:active {
	font-size: 18px;
    text-decoration: none;
	color: black;
}

button{
	cursor: pointer;
}

header{
	background-color: azure;
	padding: 5px 10px;
	box-shadow: 0 1px 5px rgba(20, 20, 20, 0.3);
	margin-bottom: 15px;
}

li{
	cursor: pointer;
	display: inline-block;
	margin: 0 10px;
}

footer{
	width: 99%;
	background-color: azure;
	padding: 5px 10px;
	box-shadow: 0 1px 5px rgba(20, 20, 20, 0.3);
	height: 100px;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#divCRUD{
	background-color: azure;
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
	box-shadow: 0 1px 5px rgba(20, 20, 20, 0.3);
}

#barra-busqueda{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

#barra-busqueda input[type="text"]{
	width: 50%;
	margin-right: 10px;
}

#barra-busqueda button{
	width: 10%;
}

#motos{
	padding: 30px 115px 10px;
	display: flex;
	flex-wrap: wrap;
}

#divFormulario{
	background-color: azure;
	width: 90%;
	margin: 0 auto;
	padding: 30px 40px;
	box-shadow: 0 1px 5px rgba(20, 20, 20, 0.3);
}

#formulario{
	margin: 0 auto;
	width: 60%;
	padding: 10px 70px;
}

.botones{
	display: flex;
	height: 55px;
}

#botones_formulario{
	text-align: center;
	margin: 20px 10px;
}

#formulario input[type="text"]{
	width: 100%;
}

#formulario textarea{
	width: 100%;
}

#formulario select{
	width: 100%;
}

#cancelar{
	width: 100px;
	height: 22px;
	display: inline-block;
	margin: 10px 30px;
	border: 1px solid black;
	cursor: pointer;
}

#aceptar{
	width: 100px;
	height: 22px;
	display: inline-block;
	margin: 10px 30px;
	border: 1px solid black;
	cursor: pointer;
}

.modbo{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	cursor: pointer;
	background-color: rgb(179, 199, 199);
	border: 1px solid black;
}

.tarjeta{
	width: 350px;
	min-width: 300px;
	height: 250px;
	margin: 20px;
	border: 1px solid #7F7F7F;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(127, 127, 127, 0.5);
	position: relative;
	transition: all 0.3s ease-in;
	overflow: hidden;
	align-items: center;
	cursor: pointer;
}

.tarjeta:hover{
	transform: scale(1.15);
}

.tarjeta div{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.tarjeta div img{
	width: 100%;
	cursor: default;
}

#tarjetaAnadir{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 150px;
	font-weight: bold;
	cursor: pointer;
	align-items: center;
	cursor: pointer;
}

#anadir2{
	margin: 0;
    font-size: 200px;
	width: 100% !important;
	text-align: center;
}

li#volver{
	float: right;
}

li#volver div{
	width: 150px;
	height: 35px;
	text-align: center;
	border-radius: 10px;
	background-color: rgb(209, 209, 209);
}

.cookies {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: tomato;
    color: white;
    font-family: arial;
    text-align: center;
}

.cookies__boton {
    background: initial;
    border: 2px solid white;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    width: 5rem;
    text-align: center;
}

.cookies__boton:hover {
    background: white;
	color: red;
	border-color: red;
}
